workflow/templates/webhook_ollama.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "6b5ede70-9ebd-49cc-82f8-3ce717536b49",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -208,
        0
      ],
      "webhookId": "__REPLACE_WITH_WEBHOOK_ID__",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "qwen3:0.6b",
        "options": {}
      },
      "id": "1e80e2e0-2fea-40df-ba3e-212698696372",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        -64,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "ollamaApi": {
          "id": "jKf6gMGw0jpZU9DK",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 5000
      },
      "id": "c0e0cded-b686-4601-bd5b-eef498a0b536",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        112,
        336
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6aedad36-b1c5-4056-a763-768f856a9840",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -416,
        208
      ],
      "webhookId": "__REPLACE_WITH_WEBHOOK_ID__",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "96a71e25-c0f2-4a74-87ec-3422538cf814",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        384,
        112
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.trigger }}는 빌드 구성을 실행시킨 유저이며, {{ $json.body.target_files }} 는 변경된 파일 목록입니다. 그리고 {{ $json.body.build_id }} 는 빌드 구성의 넘버입니다.\n\n이 내용을 바탕으로 코드 리뷰를 진행하세요.",
        "options": {
          "systemMessage": "당신은 훌륭한 코드 리뷰어입니다. "
        }
      },
      "id": "208d6a8d-7d47-4484-afe6-e8ae75b4872d",
      "name": "Code Review AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        16,
        112
      ],
      "typeVersion": 1.9
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code Review AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Code Review AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Code Review AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code Review AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Review AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ab7c40009020b29e520e41705926c64f1e7799b6342f86829bdc89a4d8e45d2"
  }
}